[mysqld]
character-set-server = utf8mb4

collation-server = utf8mb4_unicode_ci

default-time-zone = '+09:00'

# ログ量を最小化
general_log = 0
slow_query_log = 0
binlog_expire_logs_seconds = 86400 # binlogの有効期限を1日に設定
innodb_flush_log_at_trx_commit = 2 # ログのフラッシュを最小化
sync_binlog = 0 # バイナリログの同期を最小化